<div class="site-category">
    <ul class='cat1'>
      <li><a href="/" class="ctext">Qunatitative</a>
        <ul>
          <li><a href="/category/Quant" class="ctext">Quant</a></li>
          <li><a href="/category/Information_Theory" class="ctext">Information Theory</a></li>
        </ul>
      </li>
      <li><a href="/" class="ctext">Finance</a>
        <ul>
          <li><a href="/category/Financial_History" class="ctext">Financial History</a></li>
          <li><a href="/category/Investment" class="ctext">Investment</a></li>
          <li><a href="/category/Monetary_System" class="ctext">Monetary System</a></li>
          <li><a href="/category/Geopolitics" class="ctext">Geopolitics</a></li>
        </ul>
      </li>
    </ul>
  </div>